@import "../../styles/variables.scss";
header {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    h1 {
        min-width: 320px;
        min-height: 130px;
        background-image: url('./MYtineraryLogo.png');
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
    }
}

.landing-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 0 1rem;
    height: 100%;
    min-height: 600px;
    .content-wrapper {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        min-height: 50vh;
    }
}

.start-browsing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    img {
        height: 8em;
        width: 8em;
    }
}

//Destinations:
.city-card {
    flex: 1 0 40%;
    min-width:100px;
    min-height:100px;
    margin: 0.2rem;
    position: relative;
    background-color: #ccc;
    .city-card-inner {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
.destination-controls {
    button {
        height: 25px;
    }
}