@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
$font-family: 'Nanum Gothic', sans-serif;
// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
// $font-family: 'Roboto', sans-serif;

//COLORS:
$primary-color: #dc2b00;
$secondary-color: #394e56;