@import "../../styles/variables.scss";

//APP STYLES:
.App {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.page-content {
  flex-grow: 1;
  overflow-y: auto;
}
//GLOBAL COMPONENTS: 
.login-container {
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 400px;
  p {
    text-align: center;
    width: 100%;
  }
}
#menu-appbar {
  a {
    text-decoration: none;
    color: $primary-color;
    &:visited {
      color: inherit;
      color: $primary-color;
    }
  }
}