@import "../../styles/variables.scss";

$icon-size: 40px;

footer {
	margin: 0.3rem auto;
	a {
		opacity: 0.5;
		transition: opacity ease-out 0.25s;
		&:hover {
			opacity: 1;
		}
		img {
			height: $icon-size;
			width: $icon-size;
		}
	}
}

@media only screen and (min-width: 400px) {
	$icon-size: 50px;
	footer {
		margin: 1rem auto;
		a {
			img {
				height: $icon-size;
				width: $icon-size;
			}
		}
	}
}
